<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-40">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<table>
								<tr><td colspan="5"  height="20" bgcolor="#7fffd4">报销人信息</td></tr>
								<tr><td colspan="5" height="6"></td></tr>
								<tr>
									<td>
									<div class="form-group">
										<label class="col-sm-4 control-label">姓名：</label>
										<div class="col-sm-8">
											<select class="col-sm-8 chosen-select" data-placeholder="Choose a Person..." id="employeeid" name="employeeid">
												<option value=""></option>
												<option th:each="ems:${employee}" th:value="${ems.id}" th:text="${ems.name}"/>
											</select>
											<input id="employeename" name="employeename" class="form-control" type="hidden"  readonly="true">
										</div>
									</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">人员编号:</label>
											<div class="col-sm-8">
												<input id="code"class="form-control" type="text"  readonly="true">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">人员类别：</label>
											<div class="col-sm-8">
												<input id="employtypeid" name="employtypeid" class="form-control" type="hidden">
												<input id="employtype" class="form-control" type="text" readonly="true">
											</div>
										</div>
									</td>
									<td>
									<div class="form-group">
										<label class="col-sm-4 control-label">用工状态：</label>
										<div class="col-sm-8">
											<input id="employstatusid" name="employstatusid" class="form-control" type="hidden">
											<input id="employstatus" class="form-control" type="text" readonly="true">
										</div>
									</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">身份证号：</label>
											<div class="col-sm-8">
												<input id="employeevidno"  name="employeevidno" class="form-control" type="text" readonly="true">
											</div>
										</div>
									</td>
								</tr>
								<tr><td colspan="5"  height="20" bgcolor="#7fffd4">医疗信息</td></tr>
								<tr><td colspan="5" height="6"></td></tr>
								<tr>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">交易流水号：</label>
											<div class="col-sm-8">
												<input id="id" name="id" class="form-control" type="text">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">医保类别：</label>
											<div class="col-sm-8">
												<select class="form-control" id="medicaltype" name="medicaltype">
													<option value="">---请选择医保类别---</option>
													<option value="急诊">急诊</option>
													<option value="门诊挂号">门诊挂号</option>
													<option value="普通门诊">普通门诊</option>
													<option value="急诊挂号">急诊挂号</option>
													<option value="普通住院">普通住院</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">交易日期：</label>
											<div class="col-sm-8">
												<input id="trededate" name="trededate" class="form-control datepicker" type="date">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">支付日期：</label>
											<div class="col-sm-8">
												<input id="paydate" name="paydate" class="form-control datepicker" type="date">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">费用总金额：</label>
											<div class="col-sm-8">
												<input id="amount1" name="amount1" class="form-control" type="number">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">医保外金额：</label>
											<div class="col-sm-8">
												<input id="amount3" name="amount3" class="form-control" type="number">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">自付一金额：</label>
											<div class="col-sm-8">
												<input id="amount22" name="amount22" class="form-control" type="number">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">自付二金额：</label>
											<div class="col-sm-8">
												<input id="amount10" name="amount10" class="form-control" type="number">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">自费费用：</label>
											<div class="col-sm-8">
												<input id="amount99" name="amount99" class="form-control" type="number">
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="col-sm-4 control-label">是否医保返回：</label>
											<div class="col-sm-8">
												<label class="radio-inline">
													<input type="radio" id="isback" name="isback" value="1" /> 是
												</label>
												<label class="radio-inline">
													<input type="radio" id="isback" name="isback" value="0" /> 否
												</label>
											</div>
										</div>
									</td>
									<td>
									<div class="form-group">
										<label class="col-sm-4 control-label">录入人：</label>
										<div class="col-sm-8">
											<input id="dmaker" name="dmaker" class="form-control" type="text" readonly="true">
										</div>
									</div>
									</td>
									<td>
									<div class="form-group">
										<label class="col-sm-4 control-label">录入日期：</label>
										<div class="col-sm-8">
											<input id="ddate" name="ddate" class="form-control datepicker" type="date">
										</div>
									</div>
									</td>
								</tr>
							</table>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3" >
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>


						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/medicalexpense/medicalexpense1/add.js">
	</script>
</body>
</html>
