<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${claimexpense.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">员工id：</label>
								<div class="col-sm-8">
									<input id="employeeid" name="employeeid" th:value="${claimexpense.employeeid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">员工id：</label>
								<div class="col-sm-8">
									<input id="employeename" name="employeename" th:value="${claimexpense.employeename}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人员用工状态：</label>
								<div class="col-sm-8">
									<input id="employstatusid" name="employstatusid" th:value="${claimexpense.employstatusid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人员类别：</label>
								<div class="col-sm-8">
									<input id="employtypeid" name="employtypeid" th:value="${claimexpense.employtypeid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">公民身份号码：</label>
								<div class="col-sm-8">
									<input id="employeevidno" name="employeevidno" th:value="${claimexpense.employeevidno}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">支付日期：</label>
								<div class="col-sm-8">
									<input id="paydate" name="paydate" th:value="${claimexpense.paydate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">医保外费用（含拒付)：</label>
								<div class="col-sm-8">
									<input id="amount3" name="amount3" th:value="${claimexpense.amount3}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">医保外费用（含拒付)：</label>
								<div class="col-sm-8">
									<input id="claimamount3" name="claimamount3" th:value="${claimexpense.claimamount3}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">自付二金额：</label>
								<div class="col-sm-8">
									<input id="amount10" name="amount10" th:value="${claimexpense.amount10}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">自付二金额：</label>
								<div class="col-sm-8">
									<input id="claimamount10" name="claimamount10" th:value="${claimexpense.claimamount10}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">自付一金额：</label>
								<div class="col-sm-8">
									<input id="amount22" name="amount22" th:value="${claimexpense.amount22}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">自付一金额：</label>
								<div class="col-sm-8">
									<input id="claimamount22" name="claimamount22" th:value="${claimexpense.claimamount22}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/medicalexpense1/claimexpense/edit.js">
	</script>
</body>
</html>
