<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.medicalexpense.closeexpense.dao.CloseExpenseDao">
    <select id="get" resultType="com.bootdo.medicalexpense.closeexpense.domain.CloseexpenseSumDO">
        select `id`,`employeeid`,`employeename`,`employstatusid`,`employtypeid`,`employeevidno`,`paydate`,`amount3`,`claimamount3`,`amount10`,`claimamount10`,`amount22`,`claimamount22` from claimexpense where id = #{value}
    </select>
    <delete id="delOldCloseExpense">
        delete from closeexpense
        <where>
            id!=''
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month &gt;= #{month} </if>
        </where>
    </delete>
    <select id="listClaim" resultType="com.bootdo.medicalexpense.claimexpense.domain.ClaimexpenseDO">
        select `id`,`employeeid`,`employeename`,`employstatusid`,`employtypeid`,`employeevidno`,`paydate`,`amount3`,`claimamount3`,`amount10`,`claimamount10`,`amount22`,`claimamount22` from claimexpense
        <where>
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month &lt;= #{month} </if>
        and id not in (select id from closeexpense)
        </where>
        order by `id`
    </select>
    <select id="getHistoryClaimexpenseSum" resultType="Double">
        select ifnull(sum(claimamount10+claimamount22+claimamount3),0) amount from claimexpense
        <where>
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month &lt;= #{month} </if>
            <if test="employeeid != null and employeeid != ''"> and employeeid = #{employeeid} </if>
        </where>
    </select>
    <select id="getHistoryCloseexpenseSum" resultType="Double">
        select ifnull(sum(closeamount),0) amount from closeexpense
        <where>
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month &lt;= #{month} </if>
            <if test="employeeid != null and employeeid != ''"> and employeeid = #{employeeid} </if>
        </where>
    </select>
    <insert id="Save" parameterType="com.bootdo.medicalexpense.claimexpense.domain.ClaimexpenseDO">
        insert into closeexpense
        (
            `id`,
            `employeeid`,
            `employstatusid`,
            `employtypeid`,
            `month`,
            `year`,
            `closeemployeeid`,
            `claimamount22`,
            `claimamount10`,
            `claimamount3`,
            `closeamount`
        )
        values
            (
                #{id},
                #{employeeid},
                #{employstatusid},
                #{employtypeid},
                #{month},
                #{year},
                #{closeemployeeid},
                #{claimamount22},
                #{claimamount10},
                #{claimamount3},
                #{closeamount}
            )
    </insert>
    <select id="list" resultType="com.bootdo.medicalexpense.closeexpense.domain.CloseexpenseSumDO">
        select a.employeeid,b.name employeename,b.employstatus_id,c.statusname employstatus,b.employtype_id,d.statusname employtype,b.dept_id,e.name dept_name, a.year,a.month,round(sum(closeamount),2) closeamount
        from closeexpense a,employee b,employstatus c,employtype d,sys_dept e
        <where>
            a.closeemployeeid=b.id and b. employstatus_id=c.id and b.employtype_id=d.id and b.dept_id=e.dept_id
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month = #{month} </if>
        </where>
        group by a.employeeid,b.name,b.employstatus_id,c.statusname,b.employtype_id,d.statusname,b.dept_id,e.name,a.year,a.month
    </select>
    <select id="count" resultType="int">
        select count(employeeid)
        from closeexpense
        <where>
            <if test="year != null and year != ''"> and year = #{year} </if>
            <if test="month != null and month != ''"> and month = #{month} </if>
        </where>
    </select>
</mapper>